body{
  margin: 0 ;
  padding: 0;
}
.header{
  background-image: url(images/Rectangle\ 1.jpg);
  background-size: cover;
  width: 100%;
  height: 80vh;
  /* border: 1px solid lightgrey; */
} 
.container{
  margin-left: 10em;
  padding-top: 10em;
}